<a href="/celebrities/{{foundCelebrity._id}}"><h6>Leave edit mode</h6></a>
<h2>Edit the celebrity</h2>
<form
  action="/celebrities/{{foundCelebrity._id}}/edit"
  method="post"
  id="celeb-form"
>
  <label>Name</label>
  <input type="text" name="name" value="{{foundCelebrity.name}}" />
  <label>Occupation</label>
  <input type="text" name="occupation" value="{{foundCelebrity.occupation}}" />
  <label>Catch phrase</label>
  <input
    type="text"
    name="catchPhrase"
    value="{{foundCelebrity.catchPhrase}}"
  />
  <button class="btn btn-primary" type="submit">Save</button>
</form>